# Logs
*.log
/tools/bin/cygwin1.dll
/tools/bin/fsck.erofs.exe
/tools/bin/lpunpack.exe
/tools/bin/simg2img.exe
.agents

# Ignore build tools and archives
tools/
*.zip
patched_camera.apk

# OS generated
.DS_Store
Thumbs.db
